$white: #fff;
$black: #333;

$blue-100: #5dc2ef;
$blue-200: #367dbf;
$blue-300: #254a99;
$blue-400: #2b2b6f;

$red: #ec6b6b;

$font-rubik: "Rubik", sans-serif;
$font-asap: "Asap", sans-serif;

$purple: #390050;
