@import "../../styles/variables";

.wallet-info {
  display: flex;

  * {
    color: $white;
  }
  .address {
    font-size: 1rem;
    margin-right: 10px;
  }
  .copy-icon {
    cursor: pointer;
  }
}
