@import "../styles/variables";
@import "../styles/responsive";

.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 150px;

  background: linear-gradient(to bottom, $blue-300, $blue-400);

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-image {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      img {
        width: 250px;
        height: auto;
      }
    }
    h1 {
      color: $white;
      font-size: 5rem;
    }
    .subtitle {
      color: $white;
      font-size: 1.5rem;
    }
  }
  .info-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      color: $white;
      font-size: 1rem;
    }
    .wallet-container {
      display: flex;
      margin-top: 20px;

      > span {
        color: $white;
        margin-right: 10px;
      }
    }
  }
}

@include device-specific($phone) {
  .page {
    min-height: 100vh;
    padding-top: 75px;

    .header-container {
      .header-image img {
        width: 200px;
      }
      h1 {
        font-size: 3.5rem;
      }
      .subtitle {
        font-size: 1.25rem;
      }
    }
    .info-container {
      margin-top: 80px;
    }
  }
}
